* {
  box-sizing: border-box;
  font-family: 'Metal Mania', cursive;
}

body {
  display:flex;
  flex-direction: column;
  align-items: center;
  color:rgb(255, 255, 255);
  background-color: rgb(30, 30, 30);
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 900px;
  border: 3px solid black;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  box-shadow: inset 0 0 50px 50px rgb(4, 0, 132);
}

#game-screen {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 600px;
  flex: 1;
  border: 3px solid rgb(0, 16, 94);
  background-color: black;
}

.cell {
  width: 10%;
  height: 5%;
  border: 0.5px solid rgb(30, 30, 30);
}

.small-display-cell {
  width: 25%;
  height: 25%;
  border: 0.5px solid black;

}

.info {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.small-display {
  border: 2px solid rgb(7, 0, 219);
  background-color: black;
  height: 120px;
  width: 120px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}
#controls {
  display:flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}
.controls li {
  list-style: none;
  white-space: nowrap;
  font-size: 19px;
  padding: 0 5px;
  border: 0.5px solid rgb(7, 0, 219);;
}
ul {
  text-align: center;
  border: 0.5px solid rgb(7, 0, 219);;
  flex: 1;
  padding: 0;
}

.overlay {
  position: fixed;
  align-items: center;
  justify-content: center;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

#high-scores-box {
  border: 3px solid white;
  background-color: black;
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 250px;
}
#high-scores li {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 250px;
  margin-left: -30px;
  justify-content: space-between;
}

#enter-name-box {
  border: 3px solid white;
  background-color: black;
  width: 300px;
  height: 150px;
  text-align: center;
}

#pause-box { 
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px;
  width: 100px;
  margin-bottom: 20px;
}

#main-menu-overlay {
  display: flex;
  align-items: center;
}

#main-menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: black;
  text-align: center;
}

#settings-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  background-color: black;
  border: 3px solid white;
}

#exit-settings {
  margin-top: 20px;
}